.lang {
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 25px;
}

.lang a {
    text-decoration: none;
}

.lang a.selected {
    text-decoration: none;
    color: #C00;
}

.section {
    /*box-shadow: 10px 10px 5px #888888;*/
}