<div>
    <div id="container" data-min-width="600" data-total-col="15" data-total-row="6" data-wall-width="800" data-wall-height="593">
        <div ng-repeat="image in images"
             class="brick"
             data-delay="{{image.index}}"
             data-height="100"
             data-width="150"
             data-state="move"
             ng-click="previewClicked(preview)"
             id="{{image.index}}-2">
            <a href="{{image.imagePath}}" data-lightbox="roadtrip">
                <img src="{{image.previewPath}}" width="100%" on-load="imageLoaded()">
            </a>
        </div>
    </div>
</div>